@media (width < 480px) {
    .citation-offset {
        width: 10vw;
    }

    .citation {
        width: 80vw;
        font-size: large;
    }
}

@media (width > 480px) {
    .citation-offset {
        width: 25vw;
    }

    .citation {
        width: 50vw;
        font-size: large;
    }
}