.citationBackground {
    background-image: url('../../public/image.png');
    background-size: cover;
    height: 100vh;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

/* Adjust X offset on mobile */
@media (max-width: 768px) {
  .citationBackground {
    background-position-x: 20%
  }
}